/*======CSS STYLING FOR HYBRID APP=======*/
.case-study__wrapper{
    margin-left: 5%;
}

/*====OVERVIEW SECTION STYLING====*/
.app-overview__section{
    display: flex;
    width: 100%;
    margin: 72px 0 36px 0;
}
.app-overview__section .text-description__section{
    width: 60%;
    padding: 10px;
    margin-right: 48px;

}
.app-overview__section .text-description__section header{
    max-width: 700px;
}
.app-overview__section .text-description__section header p{
    margin-top: 12px;
}
.app-overview__section .image-display__section{
   width: 40%;
   justify-content: center;
}
.app-overview__section .image-display__section img{
    width: 60%;
    height: auto;
}
/*====END OF OVERVIEW SECTION STYLING====*/


/*====PROBLEM SECTION STYLING====*/
.problem-section{
    margin: 72px 0 84px 0;
}
.problem-section p{
    width: 80%;
    margin-top: 12px;
}

/*====END OF PROBLEM SECTION STYLING====*/


.ideate-section{
    margin: 72px 0 60px 0;
}
.ideate-section p{
    margin: 24px 0;
    width: 80%;
}
.ideate-section img{
    width: 80%;
    height: auto;
}



.prototype-section{
    margin: 72px 0 60px 0;
}
.prototype-section section h4{
    margin: 36px 0 12px 0;
}
.prototype-section section p{
    width: 80%;
}
.prototype-section section img{
    margin-top: 48px;
    width: 80%;
    height: auto;
}
/*========END OF CSS STYLING FOR HYBRID APP=======*/